<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <h1>This is Subscribtion registration page</h1>
    <h2>Fil out the following form to subscribe</h2>
    <div class="container">
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}

            <input type="submit" class="btn btn-primary" value="Submit"></input>
        </form>
    </div>
</body>
</html>